<h1> Book your BnB here! </h1>

<form action ="/MakersBnB" method="POST">
  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">
  </p>
  <p>
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username">
  </p>
  <p>
    <label for="contact_number">Phone number:</label>
    <br>
    <input type="text" id="contact_number" name="contact_number">
  </p>
  <p>
    <label for="email">Email address:</label>
    <br>
    <input type="text" id="email" name="email">
  </p>
</form>
