<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
  text-align: left;
  margin: 0px auto;
}

#container1 {
  margin: 0px auto;
  background-color: #3b3635;
  padding: 50px;
}

#container2 {
  margin: 0px auto;
  display: inline-block;
}

#new_property, #sign_out {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 0px auto;
}

#listings {
  text-align: left;
  padding: 50px;
}

h3 {
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: #ffb300;
  color: #212121
}

</style>
<div id="container1">
<h1> Login </h1>
  <form action ="/Makersbnb/sessions" method="POST">
  <label for="username">Username:</label>
  <br>
  <input type="text" id="username" name="username">
  <br>
  <label for="password">Password:</label>
  <br>
  <input type="password" id="password" name="password">
  <br>
  <button type="submit" id="login">Login</button>
</form>
</div>