<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
}
</style>
<div id="container">
  <form action ="/Makersbnb/signup" method="GET">
    <button type="button signup-button" id="but_signup" >Signup</button>
  </form>
</div>
<% if !logins.empty? %>
  <form action ="/Makersbnb" method="POST">
    <p>
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" name="username">
    </p>
    <p>
      <label for="password">Password:</label>
      <br>
      <input type="text" id="password" name="password">
    </p>

    <form action = "/Makersbnb" method="POST">
      <button type="button login-button" id="but_login" >Login</button>
    </form>
<%end%>
