<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
}
</style>
<div id="container">

  <a href="/Makersbnb/new_user" id="signup">Sign up </a>
</div>

  <form action ="/Makersbnb/:index" method="POST">
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="text" id="password" name="password">
    <br>
    <button type="submit" id="login">Login</button>
  </form>
