<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
  text-align: center;
  margin: 0px auto;
}

#container1 {
  margin: 0px auto;
  background-color: #3b3635;
}

#container2 {
  margin: 0px auto;
  display: inline-block;
}

#new_property, #sign_out {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 0px auto;
}

#listings {
  text-align: left;
  padding: 50px;
}

h3 {
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: #ffb300;
  color: #212121
}

#container {
  overflow:auto;
  position:relative;
  padding-top: 5%;
  padding-bottom: 9%;
}
</style>
<div id="container1">
<div id="container">
<h1>Welcome!</h1>

  <a href="/Makersbnb/sessions/new" id="login" >Login</a>
</div>
  <form action ="/Makersbnb/registrations" method="POST">
  <p>
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password">
    </p>
  <p>
    <label for="contact">Contact:</label>
    <br>
    <input type="text" id="contact" name="contact">
  </p>
  <p>
    <label for="email">Email address:</label>
    <br>
    <input type="text" id="email" name="email">
  </p>
  <input type="submit" id="submit" value="Sign up">
</form>
</div>