<h1> Add your property to MakersBnB today! </h1>

<form action ="/Makersbnb/listings" method="POST">
  <p>
    <label for="property_name">Property name!</label>
    <br>
    <input type="text" id="property_name" name="property_name">
  </p>
  <p>
    <label for="description">description:</label>
    <br>
    <input type="text" id="description" name="description">
  </p>
  <p>
    <label for="price">Price</label>
    <br>
    <input type="text" id="price" name="price">
  </p>
  <p>
    <label for="availability_start">Booking from</label>
    <br>
    <input type="date" id="availability_start" name="availability_start">
  </p>
  <p>
    <label for="availability_end">Booking end</label>
    <br>
    <input type="date" id="availability_end" name="availability_end">
  </p>

  <input type="submit" value="Add listing" name="add">
</form>
