<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
}
</style>
<h1> Signup to MakersBnB today! </h1>

  <form action ="/Makersbnb" method="POST">
    <p>
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" name="username">
    </p>
    <p>
      <label for="password">Password:</label>
      <br>
      <input type="password" id="password" name="password">
    </p>
    <p>
      <label for="contact">Phone number:</label>
      <br>
      <input type="text" id="contact" name="contact">
    </p>
    <p>
      <label for="email">Email address:</label>
      <br>
      <input type="text" id="email" name="email">
    </p>
    <input type="submit" value="Signup">
  </form>